<a href="https://colab.research.google.com/github/janethM99/equisD/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#listas

In [26]:
mi_lista_fruta = ['manzana', 'sandia', 'frutilla']
mi_lista= ['manzana', 10, True, 10.5, mi_lista_fruta]
print(mi_lista_fruta[2])
print(mi_lista_fruta)
print(mi_lista)
print(mi_lista_fruta[2])
print(mi_lista[3])


print(mi_lista)
print(type(mi_lista))
print(mi_lista[-1])
#print(mi_lista[-1])

palabra = 'radar'
print(palabra[::-1])


mi_lista=['manzana', 10, True, 10.5, mi_lista_fruta]
mi_lista_numero=[0,1,2,3,4,5,6,7,8,9]
mi_lista_numero.insert(1, 11)
mi_lista_numero.append(100) #agregar un elemento al final
mi_lista_numero.extend(mi_lista_fruta)
mi_lista_numero.remove('manzana')
mi_lista_numero.pop(1)
mi_lista_numero

frutilla
['manzana', 'sandia', 'frutilla']
['manzana', 10, True, 10.5, ['manzana', 'sandia', 'frutilla']]
frutilla
10.5
['manzana', 10, True, 10.5, ['manzana', 'sandia', 'frutilla']]
<class 'list'>
['manzana', 'sandia', 'frutilla']
radar

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 'sandia', 'frutilla']

In [29]:
lista1=['a','b',0,0,0,0,0]
lista2=[1,1,1,1,1,1,1]
lista3= lista1+lista2
lista3

['a', 'b', 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1]